<header class = 'header'>
    <div class = 'blog-name'>
        <a href="/"><h2>my</h2>
        <h2>blog</h2></a>
    </div>
    <nav class="links">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/creat-blog">creat blog</a></li>
        </ul>
    </nav>
</header>