<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   <p>about some thins about this blog</p>

    <%-  include('./partials/footer.ejs') %>
</body>
</html>